{% extends 'base.html.twig' %}

{% block title %}Hello OrganizationController!{% endblock %}

{% block body %}
    <h1>{{ organization }} public repositories ({{ repositories|length}})</h1>
    <ul>
        {% for repository in repositories %}
            <li><a href="{{ repository.html_url }}">{{ repository.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
